@import 'tailwindcss';
html,
body {
  height: 100%; /* Make them take up the full viewport height */
  margin: 0; /* Remove default browser margins */
  padding: 0; /* Remove default browser padding */
  overflow-x: hidden; /* if you don't want horizontal scroll */
  overflow-y: hidden; /* if you don't want vertical scroll */
}
