@import 'tailwindcss';
html,
body,
#app {
  height: 100vh !important; /* Added !important */
  margin: 0 !important; /* Add !important to margins too, just in case */
  padding: 0 !important; /* Add !important to paddings too */
  overflow: hidden !important; /* Prevent scrolling */
}
